//color variables

$color-primary: #58e1c1;
$color-primary-light: lighten($color-primary, 15%);
$color-secondary: #51ddfc;
$color-font: #777;
$color-tetiary: #fff;
$color-img-border: #ccc;

//media query breakpoints

$break-m: 768px;
$break-l: 769px; 

//font variables

$font-stack: 'lato', sans serif;